---
title: The Property
layout: default

gallery1:
  - img: property/signage.jpg
    title: Welcome Sign
  - img: property/truck.jpg
    title: Vintage Truck
  - img: property/campfire.jpg
    title: Campfire
  - img: property/milkyway.jpg
    title: Stargazing

gallery2:
  - img: property/commons.jpg
    title: The Commons
  - img: property/reception_1.jpg
    title: Front Desk
  - img: property/reception_2.jpg
    title: Reception
  - img: property/canteen.jpg
    title: The Canteen
  - img: property/bathroom.jpg
    title: Bathroom
  - img: property/lounge_area_1.jpg
    title: The Lounge
  - img: property/lounge_area_2.jpg
    title: Communal Dining
  - img: property/fireplace.jpg
    title: Wood Burning Stove
  - img: property/outdoor_1.jpg
    title: Outdoor Patio
  - img: property/outdoor_2.jpg
    title: Landscape
---

<div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">{% picture banner property.jpg 16:7 --img class="w-full object-cover xl:rounded-3xl h-96" %}</div>

<div class="mx-auto mt-16 max-w-7xl px-6 lg:px-8">
  <div class="mx-auto lg:mx-0">
    <h2 class="text-4xl font-bold ext-gray-900">The Property</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">A short drive from the southern entrance of the Grand Canyon, we encourage you to come explore our sprawling 80-acre ranch that offers unobstructed views of Red Butte and the San Francisco Peaks. On-site, some of the most popular activities include building campfires and stargazing using our telescope.</p>
  </div>
</div>

{% include gallery.html gallery=page.gallery1 %}

<div class="mx-auto mt-16 max-w-7xl px-6 lg:px-8">
  <div class="mx-auto lg:mx-0">
    <h2 class="text-4xl font-bold ext-gray-900">The Commons</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Our Commons building, situated across from the four private casitas amongst swaying Juniper trees, is open to all guests during daytime hours. Appointed with custom artwork, furniture, and landscaping, you are welcome to explore the additional space for dining and lounging, enjoying a complimentary refreshment from the Canteen, as well as utilizing the outdoor patio for work or leisure purposes.</p>
  </div>
</div>

{% include gallery.html gallery=page.gallery2 %}
