{% comment %}
Usage: {% responsive_image path: assets/image.jpg, width: 1000, class: "", sizes: "sm:300px lg:500px" %}
{% endcomment %}

{% assign size_items = sizes | split: " " %}

{%- capture _sizes -%}
{%- for s in size_items -%}
 {%- assign parts = s | split: ":" -%}
 {%- assign breakpoint = parts[0] | strip -%}
 {%- assign value = parts[1] | strip -%}
 {% if breakpoint == "2xl" %}(min-width: 1536px) {{ value }}, {% endif %}
{%- endfor -%}
{%- for s in size_items -%}
 {%- assign parts = s | split: ":" -%}
 {%- assign breakpoint = parts[0] | strip -%}
 {%- assign value = parts[1] | strip -%}
 {% if breakpoint == "xl" %}(min-width: 1280px) {{ value }}, {% endif %}
{%- endfor -%}
{%- for s in size_items -%}
 {%- assign parts = s | split: ":" -%}
 {%- assign breakpoint = parts[0] | strip -%}
 {%- assign value = parts[1] | strip -%}
 {% if breakpoint == "lg" %}(min-width: 1024px) {{ value }}, {% endif %}
{%- endfor -%}
{%- for s in size_items -%}
 {%- assign parts = s | split: ":" -%}
 {%- assign breakpoint = parts[0] | strip -%}
 {%- assign value = parts[1] | strip -%}
 {% if breakpoint == "md" %}(min-width: 768px) {{ value }}, {% endif %}
{%- endfor -%}
{%- for s in size_items -%}
 {%- assign parts = s | split: ":" -%}
 {%- assign breakpoint = parts[0] | strip -%}
 {%- assign value = parts[1] | strip -%}
 {% if breakpoint == "sm" %}(min-width: 640px) {{ value }}, {% endif %}
{%- endfor -%}
{%- endcapture -%}

{% capture srcset %}
{% for i in resized %}
/{{ i.path }} {{ i.width }}w, 
{% endfor %}
{% endcapture %}

{% assign src = resized | where: 'width', width | first %}

<img src="/{{ src.path }}" sizes="{{ _sizes | strip_newlines }} (min-width: 0px) {{width}}px" class="{{ class }}" srcset="{{ srcset | strip_newlines }}">
